<div>
    <input name="changeStr" [(ngModel)]="changeStr" (ngModelChange)="search()" placeholder="חיפוש..." type="text" />
    <table>
        <tr>
            <th>ID</th>
            <th>Car Data ID</th>
            <th>User Name</th>
            <th>Pick Up Branch</th>
            <th>Return Branch</th>
            <th>Pick Up Date</th>
            <th>Return Date</th>
            <th>Real Return date</th>
            <th>Expected Price</th>
            <th>finalPrice</th>
            <th>Choose Date</th>
            <th>Report Car Return</th>
        </tr>
        <tr *ngFor="let r of fullRentalsToShow">
            <td>{{r.rentalModel.id}}</td>
            <td>{{r.carModel.carData.id}}</td>
            <td>{{r.userModel.userName}}</td>
            <td>{{r.branchModelPickUp.name}}</td>
            <td>{{r.branchModelReturn.name}}</td>
            <td>{{r.rentalModel.pickUpTime}}</td>
            <td>{{r.rentalModel.returnTime}}</td>
            <td>{{r.rentalModel.finalReturnTime}}</td>
            <td>{{r.rentalModel.expectedPrice}}</td>
            <td>{{r.rentalModel.finalPrice}}</td>
            <td><input name="finalReturnTime" [(ngModel)]="r.rentalModel.finalReturnTime" type='date'></td>
            <td><button (click)='GetSingleFullRentalById(r.rentalModel.id)' (click)="ReportCarReturn()">Report car
                    return</button><br><br></td>
        </tr>
    </table>
</div>